.main-content {
  margin: 10rem 0 15rem;

  h1 {
    font-weight: 100;
    font-size: 3.8rem;
    text-align: center;
    letter-spacing: 0.3rem;
  }

  .teslaNotice {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #666;
    line-height: 2rem;
  }
}
